.btn {
    display: inline-block;
    background: linear-gradient(to right, $lime-green, $bright-cyan);
    border-radius: 2rem;
    color: white;
    font-family: Public Sans, sans-serif;
    font-weight: 700;
    text-align: center;
    width: 20rem;
    padding: 1rem 0;
    font-size: 1.4rem;
    &:hover{
        opacity: .7;
    }
}